.main{
  display: flex;
  align-items: flex-end;

}

.contact_card{
  display: flex;
}

.contact-items{
  flex:1 1 25%;
  flex-direction: column;
  display: flex;
}

.contact-items .container {
  flex:1 1;
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  margin-bottom: 10%;
  padding-left: 5%;
}

.contact-items .container:hover {
  background-color: whitesmoke;
  border: 1px solid green;
}
